.status-bar {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #656565;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: white;
}

.status-bar i {
    font-size: 16px;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}